applicationCode/__pycache__/__init__.cpython-37.pyc
applicationCode/__pycache__/auth.cpython-37.pyc
applicationCode/__pycache__/page_principale.cpython-37.pyc
applicationCode/__pycache__/with_calendar.cpython-37.pyc
applicationCode/__pycache__/with_doodle.cpython-37.pyc
applicationCode/__pycache__/page_principale.cpython-37.pyc
applicationCode/__pycache__/with_doodle.cpython-37.pyc
